@model IEnumerable<Marketplace.Models.Transaction>

@{
    ViewData["Title"] = "BoughtProducts";

    



}

<h1>BoughtProducts</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Transaction Id
            </th>
            <th>
                Product name
            </th>
            <th>
                Amount of products
            </th>
            <th>
                Price
            </th>
            <th>
                Seller's Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.buyerId == Context.Session.GetInt32("UserID"))
            {

                Product prod = new Product();
                UserAccount seller = new UserAccount();

                using (AppDbContext db = new AppDbContext())
                {
                    prod = db.product.Single(p => p.Id == item.productId);
                    seller = db.userAccount.Single(p => p.UserID == prod.sellerId);
                }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @prod.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @seller.Email
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


